/* Common variables */
:root {
  --scrollbar-width: 10px;
  --tab-bar-width: 10px;
  --window-border: 4px; /* window border, recommend 4px~16px */
  --mac-header: calc(var(--window-border) + 20px); /* title bar extra height */
  --win-header: calc(var(--window-border) + 20px); /* title bar extra height */
  --linux-header: calc(
    var(--window-border) + 20px
  ); /* title bar extra height */
  --addressbar-height: 36px;
  --window-button-scale: 0.8;
  --window-button-opacity: 0.3;
  --tab-padding: calc(var(--window-border) / 2);
  --colorToviTransparent: transparent;
}

#browser:not(.theme-dark) {
  #tabs-tabbar-container {
    box-shadow: none !important;
    backdrop-filter: none !important;
  }

  .tab-wrapper {
    backdrop-filter: none !important;
    background-color: none !important;
  }

  .mainbar,
  #header,
  #footer,
  .inner,
  .bookmark-bar {
    background-color: var(--colorBgAlphaBlur) !important;
  }

  #main,
  #header,
  #footer,
  .panel-group {
    backdrop-filter: var(--backgroundBlur);
  }

  &:not(.fullscreen) {
    #panel_switch {
      background-color: unset;
    }

    #switch {
      backdrop-filter: unset;
    }

    #webview-container {
      background-color: var(--colorBgAlphaBlur);
    }

    .color-behind-tabs-on .bookmark-bar button,
    .bookmark-bar .observer {
      background-color: unset;
    }

    .inner > .tabbar-wrapper {
      background: unset;
      backdrop-filter: none !important;

      .tabbar-wrapper {
        backdrop-filter: none !important;
        background: transparent;
      }

      #tabs-tabbar-container .tab-strip {
        &::-webkit-scrollbar {
          border: 1px solid var(--scrollbar-border-color) !important;
          color: var(--colorFg);
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }

      #tabs-tabbar-container #tabs-container:is(.left, .right) {
        background-color: unset;
        backdrop-filter: unset;
      }
    }
  }

  .density-on .tab.active:not(.tab-in-accordion, .tab-accordion) {
    box-shadow: none;
    border: 0.5px solid var(--colorFgAlpha);
  }

  /* Hovered tabs */
  &:has(button[name="WorkspaceButton"].button-pressed) #main .tabbar-wrapper,
  &:has(button[name="SyncedTabs"].button-pressed) #main .tabbar-wrapper,
  & .tabbar-wrapper:hover {
    box-shadow: 0px 0.1px 0px 0.5px var(--colorFgAlpha);
    #tabs-tabbar-container:is(.left, .right) #tabs-container {
      background-color: var(--colorBgAlpha);
      backdrop-filter: var(--backgroundBlur);

      /* Tabs background */
      .resize > div > span > div > div > div:hover {
        background: var(--colorFgAlpha);
      }
    }
  }
}

#browser.theme-dark {
  .UrlBar-AddressField {
    background: var(--colorFgAlpha);
  }

  #tabs-tabbar-container {
    box-shadow: none !important;
    background-color: var(--colorBgAlphaBlur) !important;
    backdrop-filter: var(--backgroundBlur) !important;
  }

  .tab-wrapper {
    backdrop-filter: var(--backgroundBlur) !important;
    background-color: var(--colorBgAlpha) !important;
  }

  .mainbar,
  #header,
  #footer,
  .inner,
  .bookmark-bar {
    background-color: var(--colorBgAlphaBlur) !important;
  }

  #main,
  #header,
  #footer,
  .panel-group {
    backdrop-filter: var(--backgroundBlur);
  }

  &:not(.fullscreen) {
    #panel_switch {
      background-color: unset;
    }

    #switch {
      backdrop-filter: unset;
    }

    #webview-container {
      background-color: var(--colorBgAlphaBlur);
    }

    .color-behind-tabs-on .bookmark-bar button,
    .bookmark-bar .observer {
      background-color: unset;
    }

    .inner > .tabbar-wrapper {
      background: unset;
      backdrop-filter: none !important;

      .tabbar-wrapper {
        backdrop-filter: none !important;
        background: transparent;
      }

      #tabs-tabbar-container .tab-strip {
        &::-webkit-scrollbar {
          border: 1px solid var(--scrollbar-border-color) !important;
          color: var(--colorFg);
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }

      #tabs-tabbar-container #tabs-container:is(.left, .right) {
        background-color: unset;
        backdrop-filter: unset;
      }
    }
  }

  /* Hovered tabs */
  &:has(button[name="WorkspaceButton"].button-pressed) #main .tabbar-wrapper,
  &:has(button[name="SyncedTabs"].button-pressed) #main .tabbar-wrapper,
  & .tabbar-wrapper:hover {
    #tabs-tabbar-container:is(.left, .right) #tabs-container {
      background-color: var(--colorBgAlpha);
      backdrop-filter: var(--backgroundBlur);

      /* Tabs background */
      .resize > div > span > div > div > div:hover {
        background: var(--colorFgAlpha);
      }
    }
  }
}

/* Browser Main Theme */
#browser {
  .mainbar,
  #header,
  #footer,
  #panels-container,
  .bookmark-bar {
    border: none !important;
  }

  &:not(.fullscreen) {
    button[name="WorkspaceButton"] {
      margin: 10px;

      .button-icon {
        margin-right: 9px !important;
      }
    }

    #webview-container {
      margin-left: var(--tab-bar-width);
      margin-right: var(--tab-bar-width);
      margin-bottom: var(--tab-bar-width);
      border-radius: var(--radius) !important;
    }

    #webpage-stack,
    .tiled.webpageview {
      border-radius: var(--radius) !important;
    }

    .tabbar-workspace-button + #tabs-tabbar-container.left,
    .tabbar-workspace-button + #tabs-tabbar-container.right {
      padding-top: 10;
    }

    .inner > .tabbar-wrapper {
      position: absolute;
      overflow: hidden;
      z-index: 1;

      .tabbar-wrapper {
        > div:not(.tabbar-wrapper) {
          padding-top: 0;
        }
      }

      &:not(.alt-tabs) #tabs-container .favicon,
      &:not(.alt-tabs)
        #tabs-container
        .tab.pinned:not(.active)
        .favicon
        .tab
        .favicon {
        margin-left: 0px;
        margin-right: 20px;
        transition: margin-right 0.25s, transform 100ms 50ms ease-in;
        display: none;
      }

      .tab-wrapper {
        transition: padding 0.25s, background-color 0.25s;
        width: 35px;
        overflow: hidden;
        display: none;

        &:has(.tab.active) {
          transition: padding 0.25s, background-color 0.25s, width 0.5s;
        }
      }

      #tabs-tabbar-container {
        max-width: var(--tab-bar-width);
        overflow: hidden;
        transition: max-width 0.25s;

        > .separator.separator-wsbutton {
          display: block;
        }

        /* Tabs scrollbar */

        .tab-strip {
          &::-webkit-scrollbar {
            padding: 0 2px !important;
            width: var(--scrollbar-width) !important;
            border-radius: var(--radiusHalf) !important;
            display: none;
          }

          &::-webkit-scrollbar-button {
            display: none !important;
          }

          &::-webkit-scrollbar-thumb {
            border: 2px solid transparent !important;
            border-radius: var(--radiusHalf) !important;
          }
        }

        .tab-position:not(.accordion-toggle-arrow) {
          padding-left: 4px !important;
          padding-right: 4px !important;
        }

        #tabs-container:is(.left, .right) {
          transition: background-color 0.25s;

          .toolbar.toolbar-tabbar-after {
            display: none;
          }

          .resize {
            margin-bottom: var(--densityGap);
          }
        }
      }
    }
  }

  /* Hovered tabs */
  &:has(button[name="WorkspaceButton"].button-pressed) #main .tabbar-wrapper,
  &:has(button[name="SyncedTabs"].button-pressed) #main .tabbar-wrapper,
  & .tabbar-wrapper:hover {
    #tabs-tabbar-container:is(.left, .right) {
      max-width: 400px;

      .tab-strip::-webkit-scrollbar {
        display: block;
      }

      #tabs-container {
        .toolbar.toolbar-tabbar-after {
          display: flex;
        }

        .tab-wrapper {
          width: 100%;
          padding-left: 5px !important;
          padding-right: 5px !important;
          display: block;

          .tab .favicon {
            margin-right: 4px;
            display: block;
          }
        }
      }
    }
  }
}
